<div class="main-container">
  <h1>Listing <%= @total %> records</h1>
  <div class="action-button">
    <span class="fi-plus size-24">&nbsp;&nbsp;<%= link_to 'Add new record', new_record_path %></span>
  </div>

  <section id="unseen">
    <table class="table-autosort table-stripeclass:alternateRow">
      <thead>
        <tr>
          <th class="table-sortable:alphanumeric table-filterable">Artist</th>
          <th class="table-sortable:alphanumeric">Name</th>
          <th class="table-sortable:alphanumeric">Genre</th>
          <th class="table-sortable:numeric">Year</th>
          <th class="table-sortable:numeric">"</th>
          <th class="table-sortable:alphanumeric">Label</th>
          <th></th>
        </tr>
      </thead>

      <tbody id="offTblBdy">
        <% @records.each do |record| %>
        <tr class="<%= cycle("alternateRow", "") %>">
          <td style="word-break: break-word;"><a href="/records/<%= record.id %>"><%= record.artist %></a></td>
          <td style="word-break: break-word;"><a href="/records/<%= record.id %>"><%= record.name %></a></td>
          <td style="word-break: break-word;"><a href="/records/<%= record.id %>"><%= record.genre %></a></td>
          <td><a href="/records/<%= record.id %>"><%= record.year %></a></td>
          <td><a href="/records/<%= record.id %>"><%= record.inc %></a></td>
          <td style="word-break: break-word;"><a href="/records/<%= record.id %>"><%= record.label %></a></td>
          <td>
              <span class="fi-wrench size-12">&nbsp;<a href="/records/<%= record.id %>/edit">Edit</a></span>
              <span class="fi-x size-12">&nbsp;<a href="/records/<%= record.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow" class="btn-delete">Del</a></span>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </section>

  <div class="action-container">
    <div class="action-button">
      <span class="fi-plus size-24">&nbsp;&nbsp;<%= link_to 'Add new record', new_record_path %></span>
    </div>
  </div>

</div>